.button {
  border: 1px solid;
  padding: 12px 24px;
  border-radius: 24px;
  cursor: pointer;
  border: none;
}

.primary {
  background-color: var(--color-primary-dark);
}
.primary:hover {
  background-color: var(--color-primary-deep);
}
.secondary {
  background-color: var(--color-border-default);
}
.secondary:hover {
  background-color: var(--color-border-light);
}
