.button {
  border: 1px solid;
  padding: 12px 24px;
  border-radius: 24px;
  cursor: pointer;
  border: none;
}

.primary {
  background-color: rgb(124, 32, 124);
}
.primary:hover {
  background-color: rgb(194, 52, 194);
}
.secondary {
  background-color: rgba(65, 65, 65, 0.63);
}
.secondary:hover {
  background-color: rgba(194, 52, 194, 0.1);
}
