.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
}
.footerText {
  display: flex;
  margin: 0 auto;
  font-size: 14px;
}
.backToTop {
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s ease;
  background-color: rgb(194, 52, 194);
  padding: 8px;
  border-radius: 50%;
}
