.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
}
.footerText {
  display: flex;
  margin: 0 auto;
  font-size: var(--typography-fontSize-sm);;
}
.backToTop {
  cursor: pointer;
  font-size: var(--typography-fontSize-base);;
  transition: color 0.3s ease;
  background-color: var(--color-primary-main);
  padding: 8px;
  border-radius: 50%;
}
